<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper">
    <select id="listAll" resultType="com.example.springboot.entity.User">
        select * from user;
    </select>
</mapper>

        <!-- 这是一个典型的MyBatis映射文件（Mapper XML）的片段，用于定义与数据库表 "user" 相关的操作。-->
<!--   <select> 元素定义了一个查询操作，其中的 id 属性指定了这个操作的唯一标识符，
这个标识符需要与 UserMapper 接口中的方法名相匹配。
在这个例子中，listall 是映射文件中查询操作的唯一标识符。（注意，因为大小写敏感，所以写成listAll是无法标识成功的哦-->